


.last-choice {
    background-color: yellow;
    border-color: yellow;
}

.attribution {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 12px;
    padding: 5px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;

}

.attribution a {
    color: grey;
    text-decoration: none;
}
body {
    max-width: 100vw;
    background-image: url(kids-game-rock-paper-scissors-pattern-white-background-134992609.jpg);
}

.background{
    background-color: #f0f0f0;
    padding: 20px;
    
}

.kep{
    width: 50px;
}
.carousel-inner
{
    
}
